<h1>Signup!</h1>

<div class="row">
  <div class="col-md-4">
		<%= form_for :user, url: "/users" do |f| %>
			<% flash.each do |type, msg| %>
  			<div class="alert alert-danger" role="alert">
					<strong>Error signing up the account</strong><br >
   			  <%= msg %>
 				</div>
			<% end %>

			<div class="form-group">
			  <%= f.label :first_name %><br />
  		  <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
			</div>

			<div class="form-group">
			  <%= f.label :last_name %><br />
  		  <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
			</div>
      
			<div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
			
			<div class="form-group">
        <%= f.label :password, class: "control-label" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
			
			<div class="form-group">
        <%= f.label "Password Confirmation", class: "control-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
			
			<div class="form-group">
				<%= f.submit "Sign Up", class: "btn btn-primary" %>
			</div>

		<% end %>
	</div>
</div>
