<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <%= category.products.count %>
  </td>
  <td>
		<% unless category.products.empty? %>
			<%= number_to_currency(category.products.average(:price_cents) / 100) %>
		<% else %>
			<%= number_to_currency(0) %>
		<% end %>
  </td>
  <td>
    <%= category.products.sum(:quantity) %>
  </td>
</tr>