<tr>
  <td>
    <%= image_tag line_item.product.image.tiny %>
  </td>
  <td>
    <h3><%= line_item.product.name %></h3>
    <br>
    <p><%= line_item.product.description %></p>
  </td>
  <td>
   <%= number_to_currency(line_item.item_price_cents / 100) %>
  </td>
	<td>
		<%= line_item.quantity %>
  </td>
  <td>
		<%= number_to_currency(line_item.total_price_cents / 100) %>
  </td>
</tr>